/*  your css code here. If applicable */
main{background-color:#f5f5f5;
    padding:30px;}
.box1{border:1px solid rgb(143, 143, 143);
   background-color:white;
   padding:10px;
   margin:10px;}
  
.box2{border:1px solid gray;
   background-color:white;
    
   padding:10px;
   margin:10px;}
h1{padding:10px;
  border:10px;
}
.para1{
    padding:10px;
    border:10px;
     margin:10px;
	font-style:normal;
        }
.para2{text-align:right;
    font-style:italic;}